/** @format */
.App {
  font-family: sans-serif;
  text-align: center;
}

p {
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, 'Arial';
  background-color: white;
  color: #222629;
}

a {
  font-size: 16px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}

.createBlog {
  margin-bottom: 10px;
}

.remove {
  margin-bottom: 10px;
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
  padding: 5px 5px;
}

.remove:hover {
  background-color: rgb(194, 189, 189);
  color: white;
}

/* .error {
	color: red;
	font-style: italic;
	background: lightgrey;
	font-size: 16px;
	border-style: solid;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

.success {
	color: green;
	font-style: italic;
	background: lightgrey;
	font-size: 16px;
	border-style: solid;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
} */
